.iconShadow {
  $offset: 7.5px;
  // $-offset: -2.5px;
  $-offset: 0px;
  $blur: 15px;
  box-shadow: $offset $offset $blur #181818, $-offset $-offset $blur #545454;
  &:hover {
    box-shadow: inset $offset $offset $blur #181818,
      inset $-offset $-offset $blur #545454;
  }
}
