.btnShadow {
  $offset: 10px;
  $-offset: -10px;
  $blur: 20px;
  box-shadow: $offset $offset $blur #1c1c1f, $-offset $-offset $blur #323235;
  &:hover,
  &.active {
    box-shadow: inset $offset $offset $blur #1c1c1f,
      inset $-offset $-offset $blur #323235;
  }
}