// Contained within this file are all your resets, variables, mixins, and any utility classes

// Variable definitions
$mainColor: #1c1c1c;
$accentColor: lighten($mainColor, 10%);
$contrastingColor: white;

// Fonts
@mixin main-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $contrastingColor;
}

@mixin header-font {
  color: $contrastingColor;
  font-size: 125px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1.5px 1.5px 5px $accentColor;
}

.muted-text {
  opacity: 0.4;
}

.italic {
  font-style: italic;
}

// Breakpoints
@mixin bp($breakpoint) {
  $breakpoint-phone: 500px;
  $breakpoint-tablet: 775px;

  @if $breakpoint == phone {
    @media only screen and (max-width: $breakpoint-phone) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (max-width: $breakpoint-tablet) {
      @content;
    }
  }
}

// Resets - replaced with normalize.css
// html {
//   font-size: 100%;
//   box-sizing: border-box;
// }

// body {
//   margin: 0px;
//   padding: 0px;
//   min-height: 100vh;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }
